@import "../../_variables";

.pagination {
  display: flex;
  & > * {
    background-color: inherit;
    padding: 10px 14px;
    border: 1px solid $color-black;
    color: $color-black;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
    &:not(:last-child) {
      border-right: 0;
    }
    &:hover {
      background-color: $color-hover-gray;
    }
    &._dark {
      border-color: $color-white;
      color: $color-white;
      &:hover {
        background-color: $color-hover-dark-gray;
        color: $color-white;
      }
    }
  }
  &__arrow {
    & > * {
      width: 8px;
      height: 13px;
      object-fit: cover;
    }
    &._disabled {
      border-color: $color-gray;
      cursor: auto;
      &:hover {
        background-color: $color-white;
      }
      & > * {
        color: $color-gray;
      }
      &._dark {
        background-color: $color-black;
        border-color: $color-light-gray;
        & > * {
          color: $color-light-gray;
        }
      }
    }
  }
  &__arrow-double {
    & > * {
      width: 13px;
      height: 13px;
      object-fit: cover;
    }
    &._disabled {
      border-color: $color-gray;
      cursor: auto;
      &:hover {
        background-color: $color-white;
      }
      & > * {
        color: $color-gray;
      }
      &._dark {
        background-color: $color-black;
        border-color: $color-light-gray;
        & > * {
          color: $color-light-gray;
        }
      }
    }
  }
  &__page {
    &._current {
      cursor: auto;
      color: $color-white;
      background-color: $color-black;
      &._dark {
        color: $color-black;
        background-color: $color-white;
      }
    }
  }
}