@import "../../_variables";

.header {
  padding: 35px 0;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    cursor: pointer;
    & > * {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
  }
  &__theme {
    cursor: pointer;
    background-color: inherit;
    & > * {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
    &._dark {
      color: $color-white;
    }
  }
}