//Fonts

$font-roboto: 'Roboto', sans-serif;


//Colors

$color-white: #fff;
$color-black: #000;
$color-dark: rgba(0, 0, 0, 1);
$color-gray: rgba(0, 0, 0, 0.30);
$color-light-gray: rgba(255, 255, 255, 0.75);
$color-hover-gray: #ededed;
$color-hover-dark-gray: #464646;

//Breakpoints

$min-width: 320px;
$mw2: 768px;
$mw3: 1024px;
$mw4: 1366px;
